Source: efreet
Section: gui
Priority: optional
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Uploaders: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 6), cdbs, automake, libtool, pkg-config, libeina-dev (>= 0.9.9.49898), libecore-dev (>= 0.9.9.49898)
Standards-Version: 3.8.2
Homepage: http://www.enlightenment.org
XCS-Cross-Host-Build-Depends: debhelper (>= 6), cdbs, cdbs-embedded, automake, libtool, pkg-config
XCS-Cross-Build-Depends: libeina-dev (>= 0.9.9.49898), libecore-dev (>= 0.9.9.49898)
XS-Vcs-Git: http://git.openinkpot.org/efreet.git
XS-Vcs-Browser: http://git.openinkpot.org/efreet.git

Package: libefreet-svn-06
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libefreet0
Provides: libefreet0
Description: Library that implements freedesktop.org specs for use with E17/EFL
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This package provides the libefreet0 and libefreet0-mime libraries, which
 contains efreet-based functions for dealing with mime.

Package: libefreet-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libefreet-svn-06 (= ${binary:Version}), libecore-dev (>= 0.9.9.49898), libeina-dev (>= 0.9.9.49898)
Description: Development files for libefreet and libefreet-mime
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This packages contains headers and static libraries for Efreet.
