Source: efreet
Section: gui
Priority: optional
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Build-Depends: debhelper (>= 6), cdbs, libecore-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org
XCS-Cross-Host-Build-Depends: debhelper (>= 5), cdbs, cdbs-embedded, automake, libtool, pkg-config
XCS-Cross-Build-Depends: libecore-dev
XS-Vcs-Git: http://git.openinkpot.org/efreet.git
XS-Vcs-Browser: http://git.openinkpot.org/efreet.git
Format: 3.0 (native)

Package: libefreet0
Architecture: any
Depends: ${shlibs:Depends}
Provides: libefreet
Description: Library that implements freedesktop.org specs for use with E17/EFL
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This package provides the libefreet0 and libefreet0-mime libraries, which
 contains efreet-based functions for dealing with mime.

Package: libefreet-dev
Section: libdevel
Architecture: any
Depends: libefreet0 (= ${binary:Version}), libecore-dev
Provides: libefreet0-dev
Description: Development files for libefreet and libefreet-mime
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This packages contains headers and static libraries for Efreet.
